.coach__heading {
  @include list-reset();
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin-bottom: 45px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.coach__wrapper {
  position: relative;

  @include vp-1199 {
    max-width: 566px;
    margin: 0 auto;
  }
}

.coach__slide {
  height: 294px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 30px;

  &:hover {
    background: rgba(16, 38, 84, 0.89);
  }

  &:hover .coach__info {
    display: block;
  }

  &:hover .coach__img {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.coach__img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}

.coach__name {
  @include style-reset();

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  text-align: center;
}

.coach__info {
  display: none;
  margin: 20px 50px;
}

.coach__title {
  @include style-reset();
  color: $spindle;
}

.coach__resume {
  @include style-reset();
  color: $color-default-white;
}

.coach__description {
  @include style-reset();
}
