.coach__heading {
  @include list-reset();
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin-bottom: 51px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.coach__wrapper {
  position: relative;

  @include vp-1199 {
    margin: 0 auto;
  }
}

.coach__slide {
  aspect-ratio: 260/294;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 24px;

  &:hover {
    background: rgba(16, 38, 84, 0.89);
    justify-content: start;
    padding-top: 50px;
  }

  &:hover .coach__info {
    display: block;
  }

  &:hover .coach__img {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.coach__img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}

.coach__name {
  @include style-reset();

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  text-align: center;
}

.coach__info {
  display: none;
  margin: -4px 0;
}

.coach__title {
  @include style-reset();
  text-align: center;
  color: $spindle;
  margin-bottom: 32px;
}

.coach__resume {
  @include list-reset();
  color: $color-default-white;
  padding-left: 49px;

  & li {
    position: relative;
    padding-left: 21px;
    margin-bottom: 14px;
  }

  & li::before {
    position: absolute;
    left: 5px;
    top: 7px;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $color-default-white;
    content: "";
  }
}

.coach__description {
  @include style-reset();
  font-size: 14px;
  line-height: 21px;
}
