.contact {
  padding: 58px 0 62px 124px;
  border-top: 1px solid $light-gray;

  @include vp-1199 {
    padding: 62px 0 57px 133px;
  }

  @include vp-767 {
    padding: 64px 15px;
  }
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 170px max-content;
  row-gap: 16px;
  column-gap: 120px;
  position: relative;

  @include vp-1199 {
    grid-template-columns: max-content max-content;
    column-gap: 96px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  &::after {
    content: "";
    display: block;
    height: 88%;
    width: 1px;
    background-color: $light-gray;
    position: absolute;
    left: 230px;
    top: 6px;

    @include vp-1199 {
      left: 266px;
      top: 8px;
      height: 87px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.contact__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__heading {
  @include style-reset();
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  margin-bottom: 39px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.contact__title {
  @include style-reset();
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.contact__description {
  @include style-reset();
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  padding-bottom: 5px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}
