.form {
  background-color: $sapphire;
  color: $color-default-white;
  padding: 58px 160px 70px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1199 {
    padding: 63px 160px 70px 130px;
    align-items: flex-start;
  }

  @include vp-767 {
    padding: 64px 13px 69px;
  }

  & form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    margin-right: 11px;

    @include vp-1199 {
      align-items: flex-start;
    }
  }
}

.form__heading {
  @include style-reset();
  font-family: $ff-additional;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;
  margin-bottom: 23px;
  padding: 0 29px 0 0;

  @media (max-width: 1250px) {
    padding: 0 10px 0 0;
    margin-bottom: 34px;
  }

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 39px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
}

.form__contact {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: end;

  @include vp-1199 {
    justify-content: flex-start;
    gap: 56px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 38px;
  }

  & label {
    max-width: 190px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;

    @include vp-1199 {
      max-width: none;
    }
  }

  & input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $light-gray;
    width: 100%;
    padding-bottom: 5px;
    color: $color-default-white;
  }

  & ::placeholder {
    color: $color-default-white;
  }
}

.form__btn {
  width: 100%;
  min-height: 52px;
  text-align: center;
  border: 3px solid $color-default-white;
  background-color: transparent;
  color: $color-default-white;
  margin-top: 30px;
  max-width: 410px;
  text-transform: uppercase;

  &:disabled {
    border-color: $light-gray;
  }

  @include vp-1199 {
    max-width: none;
    margin-top: 29px;
  }

  @include vp-767 {
    margin-top: 39px;
  }
}
