.games {
  & .container {
    display: flex;
    color: $color-default-white;
    align-items: stretch;
  }
}

.games__wrapper {
  padding: 85px 75px;
  background-color: $torch-red;
}

.games__box-title {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.games__day {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  & span {
    padding-bottom: 10px;
    width: 64px;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  & time {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    border-top: 1px solid $color-default-white;

    @include vp-1199 {
      font-size: 10px;
      line-height: 14px;
    }
  }

  & b {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    padding-right: 7px;

    @include vp-1199 {
      font-size: 40px;
      line-height: 60px;
    }
  }
}

.games__heading {
  @include style-reset();
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 205px;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
  }
}

.games__description {
  @include style-reset();
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 45px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }
}

.games__link {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 347px;
  min-height: 71px;
  text-align: center;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  cursor: pointer;
  opacity: 1;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    width: 202px;
  }

  &:hover,
  &:active {
    transition: opacity $trans-default;
  }
}

.games__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 660/500;
}
