.games {
  & .container {
    display: flex;
    color: $color-default-white;
    align-items: stretch;

    @include vp-767 {
      flex-direction: column;
    }
  }
}

.games__wrapper {
  padding: 85px 75px;
  background-color: $torch-red;

  @include vp-1199 {
    padding: 47px 36px 53px 43px;
    min-width: 292px;
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.games__box-title {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;

  @include vp-1199 {
    gap: 27px;
    margin-bottom: 0;
  }
}

.games__day {
  margin-right: 4px;

  &:not(:last-child) {
    margin-bottom: 18px;

    @include vp-1199 {
      margin-top: -3px;
      margin-bottom: -6px;
    }
  }

  & span {
    padding-bottom: 3px;
    width: 64px;
    font-size: 18px;
    line-height: 27px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 176%;
      display: inline-block;
      height: 1px;
      background-color: $color-default-white;
    }

    @include vp-1199 {
      font-size: 12px;
      line-height: 14px;
      padding-top: 0;
    }
  }

  & time {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    margin-left: -3px;
    margin-top: 3px;

    @include vp-1199 {
      font-size: 10px;
      line-height: 14px;
      margin-left: 0;
      margin-top: 0;
    }
  }

  & b {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;

    @include vp-1199 {
      font-size: 24px;
      line-height: 34px;
      padding-right: 5px;
    }
  }
}

.games__heading {
  @include style-reset();
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 205px;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
    width: 120px;
    padding-top: 3px;
  }
}

.games__description {
  @include style-reset();
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 45px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    padding-top: 1px;
    padding-left: 2px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.games__link {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 347px;
  min-height: 71px;
  text-align: center;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  cursor: pointer;
  opacity: 1;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    width: 96%;
    min-height: 39px;
    border: 2px solid $color-default-white;
    margin-top: auto;
  }

  &:hover,
  &:active {
    transition: opacity $trans-default;
  }
}

.games__img {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $egyptian-blue;

  & img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &::after {
    content: "";
    display: block;
    padding-top: 75.5%;

    @media (max-width: 1280px) {
      padding-top: 85.9%;
    }

    @include vp-1199 {
      padding-top: 75.65%;
    }

    @include vp-767 {
      padding-top: 98%;
    }
  }
}
