.header {
  position: absolute;
  width: 100%;
  top: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}


.header__tel {
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;
}
