.header {
  position: absolute;
  width: 100%;
  top: 30px;

  @include vp-1199 {
    top: 34px;
  }

  @include vp-767 {
    top: 16px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.header__tel {
  font-family: $ff-additional;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__logo {
  padding-top: 10px;

  @include vp-1199 {
    padding-top: 7px;

    & svg {
      width: 82px;
      height: 17px;
    }
  }

  @include vp-767 {
    padding-top: 0;

    & svg {
      width: 69px;
      height: 24px;
    }
  }
}
