.intro {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  width: 100%;
  padding: 51px 0;
  color: $color-default-white;

  @include vp-1199 {
    padding: 82px 0;
  }

  & .container {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding-right: 259px;

    @include vp-1199 {
      padding-right: 45px;
    }

    @include vp-767 {
      justify-content: space-between;
      padding-right: 15px;
      grid-template-columns: 1fr;
    }
  }

  @include vp-767 {
    padding: 82px 0 79px;
  }
}

.intro__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 61px;
  margin-top: 113px;

  @include vp-1199 {
    margin-right: 8px;
    margin-top: 49px;
    width: 45vw;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;
    margin-top: 24px;
  }
}

.intro__box {
  margin-top: 48px;

  @include vp-1199 {
    margin-right: 6px;
    margin-top: 24px;
  }
}

.intro__list {
  @include list-reset();
  padding: 0 0 0 19px;
  margin: 136px 0 0;

  @include vp-1199 {
    margin-top: 97px;
    padding: 0;
  }

  @include vp-767 {
    margin-top: 85px;
  }
}

.intro__description {
  @include style-reset();
  font-size: 14px;
  line-height: 21px;
  text-align: right;

  @include vp-1199 {
    min-width: 113px;
  }
}

.intro__title {
  @include style-reset();
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  font-family: $ff-additional;
  padding-right: 52px;
  text-align: right;

  @include vp-1199 {
    font-size: 34px;
    line-height: 41px;
    padding-right: 24px;
  }

  @include vp-767 {
    width: auto;
    font-size: 28px;
    line-height: 34px;
    margin: 3px 3px 5px;
    text-align: end;
    padding: 0;
  }
}

.intro__text-content {
  display: grid;
  gap: 16px;
  grid-template-columns: max-content min-content;

  @include vp-1199 {
    gap: 20px;
    justify-content: space-between;
  }

  @include vp-767 {
    gap: 0;
  }
}

.intro__heading {
  @include style-reset();
  font-family: $ff-additional;
  font-weight: 700;
  font-size: 92px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  max-width: 266px;
  margin: 13px 0 50px;
  padding: 0;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 74px;
    line-height: 86px;
    text-transform: none;
    letter-spacing: 0.03em;
    margin: 7px 0 37px;
    padding: 0 22px 0 0;
  }

  @include vp-767 {
    padding: 0;
    width: auto;
    margin-left: -15px;
    margin-bottom: 25px;
  }
}

.intro__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $color-default-white;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  min-height: 57px;
  display: flex;
  justify-content: center;
  width: 230px;
  margin: 0 0 0 auto;

  @include vp-1199 {
    padding: 19px 19px;
    width: 187px;
    margin-right: 20px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.intro__img {
  position: relative;
  background-color: $persian-blue;
  flex: 1 0 500px;
  height: auto;

  @include vp-767 {
    display: none;
  }

  &::before {
    display: block;
    padding-top: 111.2%;
    content: "";


    @include vp-1199 {
      padding-top: 120.8%;
    }

    @include vp-767 {
      padding-top: 98%;
    }
  }

  & img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
