.product {
  background-color: $ghost-white;
  padding: 120px 0 120px;
  position: relative;

  &::after {
    content: url("./../img/content/ring.webp");
    display: block;
    width: 287px;
    height: 343px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__heading {
  @include style-reset();
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  font-family: $ff-additional;
  letter-spacing: 0.03em;
}

.product__btn-box {
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 38px;
  padding-bottom: 10px;
  width: 342px;
  display: flex;
  justify-content: space-between;
}

.product__card-box {
  display: none;
}

.product__list {
  @include list-reset();
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  gap: 40px;
  position: relative;
  z-index: 2;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.product__item {
  padding: 61px 69px 60px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 7px solid transparent;

  & p {
    @include style-reset();
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $egyptian-blue;
    margin: 95px 0 59px;
    z-index: 2;
  }

  & b {
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    align-items: center;
    color: $whisper;
    opacity: 0.48;
    position: absolute;
    bottom: 181px;
    z-index: 0;
  }

  &:hover,
  &:focus {
    border: 7px solid transparent;
    border-image-source: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
    border-image-width: 7px;
    border-image-slice: 3;
    outline: none;
  }

  &:hover .product__link,
  &:focus .product__link {
    border: none;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
  }
}

.is-open {
  display: block;
}

.product__btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
  color: $sapphire;
}

.is-active {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(209, 10, 66, 1);
    position: absolute;
    bottom: -12px;
    left: -2px;
  }
}

.product__title {
  @include list-reset();
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 15px;
}

.product__text {
  font-size: 16px;
  line-height: 24px;
  color: $chambray;
}

.product__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 23px 43px;
  border: 2px solid $sapphire;

  &:hover,
  &:focus {
    border: 2px solid transparent;
    border-image-source: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
    border-image-width: 2px;
    border-image-slice: 3;
    outline: none;
  }
}
