.product {
  background-color: $ghost-white;
  padding: 120px 0 120px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 287px;
    height: 420px;
    position: absolute;
    right: 0;
    bottom: -79px;
    z-index: 1;
    background-size: cover;
    background-color: $torch-red;

    @media (min-width: 1200px) {
      background-image: url("./../img/content/ring.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/content/ring@2x.webp");
      }
    }

    @include vp-1199 {
      background-image: url("./../img/content/ring-tablet.webp");
      bottom: -126px;
      width: 348px;
      height: 449px;
      right: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("./../img/content/ring-tablet@2x.webp");
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    padding: 103px 0 100px;
  }

  @include vp-767 {
    padding: 64px 0 100px;
  }
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__heading {
  @include style-reset();
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  font-family: $ff-additional;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    padding-right: 12px;
  }
}

.product__btn-box {
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 38px;
  padding-bottom: 10px;
  width: 342px;
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    margin-bottom: 43px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.product__card-box {
  display: none;
}

.product__list {
  @include list-reset();
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  gap: 40px;
  position: relative;
  z-index: 2;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.product__item {
  padding: 58px 70px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 7px solid transparent;
  max-width: 442px;

  &:not(:first-child) {
    @include vp-1199 {
      padding: 60px 118px;
    }
  }

  & p {
    @include style-reset();
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $egyptian-blue;
    margin: 68px 0 33px;
    z-index: 2;
  }

  & b {
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    align-items: center;
    color: $whisper;
    opacity: 0.48;
    position: absolute;
    bottom: 149px;
    z-index: 0;
  }

  &:hover,
  &:focus {
    border: 7px solid transparent;
    border-image-source: linear-gradient(148.82deg, $crimson 0.85%, $smalt 100%);
    border-image-width: 7px;
    border-image-slice: 3;
    outline: none;
  }

  &:hover .product__link,
  &:focus .product__link {
    border: none;
    background: linear-gradient(97.05deg, $torch-red 17.6%, $cobalt 95.31%);
  }
}

.is-open {
  display: block;
}

.product__btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
  color: $sapphire;
  padding: 0;


  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    padding: 0 5px;
  }
}

.is-active {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(209, 10, 66, 1);
    position: absolute;
    bottom: -12px;
    left: -2px;
  }
}

.product__title {
  @include list-reset();
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 8px;
}

.product__text {
  font-size: 16px;
  line-height: 24px;
  color: $chambray;
}

.product__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 64px;
  border: 2px solid $sapphire;

  &:hover,
  &:focus {
    border: 2px solid transparent;
    border-image-source: linear-gradient(148.82deg, $crimson 0.85%, $smalt 100%);
    border-image-width: 2px;
    border-image-slice: 3;
    outline: none;
  }
}
