.stocks__promo {
  color: $color-default-white;
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.stock__heading {
  @include style-reset();
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: $ff-additional;
  margin-bottom: 32px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 37px;
    padding-right: 10px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    padding-right: 7px;
    margin-bottom: 41px;
  }
}

.stocks__left {
  min-width: 280px;
  background-color: $torch-red;
  padding: 36px 45px 45px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    min-width: 280px;
    width: 100%;
  }

  @include vp-767 {
    text-align: center;
    align-items: center;
    min-height: 299px;
  }

  & b {
    font-weight: 700;
    font-size: 70px;
    line-height: 109px;
    display: block;
    margin-top: -29px;
  }
}

.stocks__img {
  min-height: 462px;
  min-width: 280px;
  width: 100%;
  background-color: $cobalt;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1200px) {
    background-image: url("./../img/content/promo.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/content/promo@2x.webp");
    }
  }

  @include vp-1199 {
    min-width: 399px;
    background-image: url("./../img/content/promo-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/content/promo-tablet@2x.webp");
    }
  }

  @include vp-767 {
    min-width: auto;
    padding-top: 103%;
    min-height: 299px;
  }
}

.stocks__title {
  @include style-reset();
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.stocks__description {
  @include style-reset();
  font-size: 18px;
  line-height: 25px;

  @include vp-1199 {
    margin-top: 3px;
  }

  @include vp-767 {
    margin-top: -2px;
  }
}

.stocks__btn {
  font-weight: 700;
  color: $resolution-blue;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $resolution-blue;
  margin-top: auto;
  width: fit-content;

  &--left {
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    border-color: $color-default-white;
  }
}

.stocks__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.stocks__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $resolution-blue;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stocks__card {
  border: 7px solid transparent;
  border-image-source: linear-gradient(148.82deg, $crimson 0.85%, $smalt 100%);
  border-image-width: 7px;
  border-image-slice: 3;
  padding: 28px;
  min-height: 211px;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding: 38px 20px;
    text-align: center;
    align-items: center;
  }

  & dl {
    @include list-reset();
  }
}

.stocks__card-title {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 8px;
}

.stocks__card-description {
  margin: 0;
}
