.user-nav {
  max-width: 65%;
}

.user-nav__list {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
    row-gap: 16px;
  }
}

.user-nav__item--logo {
  display: none;
  width: 68px;


  & svg {
    width: 100%;
  }

  @include vp-767 {
    display: block;
  }
}

.user-nav__item:nth-child(1) {
  @include vp-767 {
    order: -1;
  }
}

.user-nav__item:nth-child(2) {
  @include vp-767 {
    order: 3;
  }
}

.user-nav__item:nth-child(3) {
  @include vp-767 {
    order: 5;
  }
}

.user-nav__item:nth-child(4) {
  @include vp-767 {
    order: 2;
  }
}

.user-nav__item:nth-child(5) {
  @include vp-767 {
    order: 4;
  }
}

.user-nav__item:nth-child(6) {
  @include vp-767 {
    order: 6;
  }
}

.user-nav__link {
  color: $color-default-white;

  &:hover,
  &:active {
    opacity: 0.5;
  }
}
