.video {
  position: absolute;
  background-color: rgba(20, 54, 122, 0.5);
  bottom: -85px;
  width: 364px;
  height: 228px;
  left: 50%;
  transform: translate(-39%, 9%);
}

.video__link {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
    position: absolute;
  }
}

.video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
